@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-bg: #F0F5F8;
  --scrollbar-marker: #67757d;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary-enabled {
  width: 100%;
  padding: 2%;
  margin: 2% 0;
  background-color: rgb(147 51 234);
  color: white;
  border-radius: .25em
}

.btn-secondary-enabled {
  width: 100%;
  padding: 2%;
  margin: 2% 0;
  border: 1px solid rgb(147 51 234);
  background-color: none;
  color: rgb(147 51 234);
  border-radius: .25em
}
.btn-secondary-enabled-small {
  width: 50%;
  padding: 2%;
  margin: 2% 0;
  border: 1px solid rgb(147 51 234);
  background-color: none;
  color: rgb(147 51 234);
  border-radius: .25em
}

.small-form {
  position: absolute;
  bottom: 10%;
  display: flex;
  width: 100%;
}
